/* reset */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/* common */


/* gate(index) */
#app {}

/* splatoon 3 */
#splatoon {}

/* animal-crossing */
#animal-crossing {}

/* zelda */
#zelda {}