/* reset */
* {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
  background-color: #ebebeb;

  .content-wrap {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .content-item {
      width: 500px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

      .box-item {
        padding: 20px;
        margin: 20px;
        background-color: #e8f2ff;
        border-radius: 10px;

        h3 {
          font-style: inherit;
        }

        h3 .blue-color {
          color: orange;
        }

        &.violet-color h3 {
          color: darkviolet;
        }

        &.coral-color h3 {
          color: black;
        }

        &.skyblue-color h3 {
          color: 0cf;
          text-color: #0cf;
        }

        &.twice-height span {
          height: 2em;
        }
      }
    }
  }
}

.coral-color h3 {
  color: lightcoral;
}