@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

// variables
$warning: #FF5D5D;
$blue: #2F80ED;
$indigo: #2a2879;
$gray1: #4F5E78;
$gray2: #99A6C0;
$gray3: #B9BFC9;
$gray4: #DCDFE4;

* {
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
}

ul {
  list-style: none;
}

#app {
  min-width: 100%;
  min-height: 100vh;
  background-color: #ccc;
  padding-top: 50px;
  box-sizing: border-box;
}

#todo-app {
  width: 375px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 32px rgba(70, 96, 135, 0.1);

  .title {
    font-weight: 300;
    color: #1b1a57;
    margin-bottom: 20px;
  }

  .input-wrap {
    display: flex;
    gap: 4px;
    margin-bottom: 20px;

    label {
      flex: 1 1 0;

      input#create-todo {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 2px solid $blue;
        padding: 4px 0;

        &:focus {
          background-color: #eaf2fd;
        }

        &::placeholder {
          color: #AFAECB;
        }
      }
    }

    button#create-todo-btn {
      border: none;
      padding: 4px 16px;
      background-color: $blue;
      color: #fff;
      font-weight: 100;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .sub-title {
    font-size: 12px;
    color: $indigo;
    font-weight: 300;
  }

  .contents-wrap {
    margin-top: 30px;

    .tab-list {
      display: flex;
      gap: 20px;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 10px;

      .tab-item {
        color: $gray2;
        padding: 5px 0;
        cursor: pointer;

        &.selected {
          color: $gray1;
        }

        .todo-list-count {}
      }
      .date-btn {
        margin-left: auto;
        cursor: pointer;
        fill: $gray2;
        transition: fill 0.2s ease-in-out;

        &.active {
          fill: $blue;
        }
      }
    }

    .todo-list {
      .todo-item {
        display: flex;
        align-items: center;
        padding: 10px 0;

        .toggle-btn {
          width: 40px;
          height: 16px;
          border-radius: 12px;
          color: $gray3;
          background-color: color-mix(in srgb, currentColor 30%, transparent);
          position: relative;
          cursor: pointer;
          margin-right: 16px;

          .toggle-knob {
            width: 24px;
            height: 24px;
            border-radius: 12px;
            position: absolute;
            top: -4px;
            left: 0;
            background-color: currentColor;
            transition: left 0.2s ease-in-out;
          }
        }

        .todo-item-info {
          font-size: 14px;
          font-weight: 300;
          flex: 1;

          .todo-item-text {
            color: $indigo;
          }

          .todo-item-date {
            display: none;
            color: $blue;
          }
        }

        .delete-btn {
          color: $warning;
          border: 1px solid $warning;
          background-color: #FFF4F4;
          padding: 4px 16px;
          border-radius: 4px;
          visibility: hidden;
        }

        // completed effect
        &.completed {
          .toggle-btn {
            color: $blue;

            .toggle-knob {
              left: 16px;
            }
          }

          .todo-item-text {
            text-decoration: line-through;
          }
        }
      }

      // show date effect
      &.show-date {
        .todo-item {
          .todo-item-info {
            .todo-item-date {
              display: block;
            }
          }

          .delete-btn {
            visibility: visible;
          }
        }
      }
    }
  }
}

// show to do list effect
#todo-list {
  &.show-todo {
    .todo-item.completed {
      display: none;
    }
  }

  &.show-completed {
    .todo-item:not(.completed) {
      display: none;
    }
  }
}